.env.*
.local-secrets

.gitignore
.github
.git

Dockerfile
docker-compose.yaml
.dockerignore

*.md
infra/

node_modules
logs
postman
.postman
db
dist
tests

.eslintrc.json
.node-version
jest.config.js

**/init.sql.local
